<header>
    <h1 class="border-top border-4 display-4 text-center p-3">
      <span class="fas fa-utensils"></span> The Bashful Diner
    </h1>
    <h2 class="display-6 text-center p-2">Thank you!</h2>
    <h3 class="text-center p-2">Here's your bill!</h3>
  </header>

  <div class="container p-3">
    <table class="table table-bordered text-center border border-4">
      <thead>
        <tr>
          <th scope="col" class="align-middle">Ordered Items</th>
          <th>
          {{#each billItems as |billItem| }} 
          {{ billItem.menu_item.dish_name }} | ${{ billItem.menu_item.price }} <br>
          {{/each}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="col" class="align-middle">Subtotal</th>
          <th> menu_item.price </th>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <th scope="col" class="align-middle">Sales Tax</th>
          <th> subtotal plus 6% </th>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <th scope="col" class="align-middle">Service Fee</th>
          <th> 18% of subtotal </th>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <th scope="col" class="align-middle">Total</th>
          <th> total </th>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="container-fluid border-bottom border-4">
    <footer class="m-4">
      <div class="row">
        <div class="col-lg-5"></div>
        <button class="linkStyle buttonStyle text-center col-lg-2 col-sm-12 p-2 m-2">Request Server</button>
        <div class="col-lg-5"></div>
      </div>
    </footer>
  </div>
  <script src="/js/bill.js"></script>