    <header>
        <h1 class="border-top border-4 display-1 text-center p-3">
            <span class="fas fa-utensils"></span> The Bashful Diner <br />
        </h1>
    </header>

    <div class="container">
        <h2 class="text-center p-1">Welcome!</h2>
        <h2 class="text-center p-2">Please enter your table number below to begin your dining experience!</h2>

        <div class="text-center table-form p-2">
            <input class="text-center p-2 m-2" name="tableNumber" id="tableNumber" type="text"
                placeholder="Table Number">
            <button class="buttonStyle col-lg-1 col-sm-12 order-last p-2">Submit</button>
        </div>
    </div>

    <div class="container-fluid border-bottom border-4">
        <footer>
            <p><a href="/api/user/login">Employee Login</a></p>
        </footer>
    </div>
    <script src="/js/landing.js"></script>