<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>The Bashful Diner</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

    <div class="container">

        <div class="jumbotron">
            <h1 class="text-center"><span class="fa fa-fire"></span> The Bashful Diner</h1>
            <hr>
            <h2 class="text-center">Welcome! <br>Please enter your table number below to begin your dining experience!
            </h2>
            <br>

            <div class="text-center">
                <input name="tableNumber" id="tableNumber" type="text" placeholder="Table Number">
                <input type="submit" id="submitBtn" value="Submit">
            </div>

        </div>

        <footer class="footer">
            <div class="container">
                <p><a href="/api/tables">Employee Login</a>
            </div>
        </footer>

    </div>


</body>

</html>