:root {
--seafoamGreen: #46c496;
--grey:rgb(155, 189, 179);
--paleWhite:#eee;
--buttonFlash:#90ee90;
--black: black;
--white: white;
}

* {
  font-family: "Lobster";
  --animate-duration: 20s;
}

html {
  background-image: url(https://www.xmple.com/wallpaper/blue-stripes-lines-white-streaks-3200x1800-c2-7fffd4-f5fffa-l2-136-136-a-165-f-1.svg);
}

#submitBtn {
  background-color: rgb(96, 238, 207);
}

input {
  background-color: rgb(219, 243, 241);
}

header {
  margin-top: 5%;
}

.vertical-menu {
  width: 200px;
  background-color: var(--seafoamGreen);
  color: var(--white);
  padding-left: 8px;
}

.vertical-menu a {
  background-color: var(--paleWhite);
  color: var(--black);
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: var(--grey);
  cursor: pointer;
}

.vertical-menu a.active {
  background-color: var(--seafoamGreen);
  color: var(--white);
}

#requestServer:hover {
  background-color: var(--grey);
}

#requestServer {
  position: relative;
  font-size: 18px;
  text-align: center;
  border: 2px solid;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  color: var(--black);
  text-decoration: none;
  text-shadow: 1px 1px 2px var(--seafoamGreen);
}

#requestServer:after {
  content: "";
  background: var(--buttonFlash);
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

#requestServer:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

.buttonStyle:hover {
  background-color: var(--grey);
}


/*commmented out because of conflicts with bootstrap*/
.tabcontent {
  /* float: left; */
  font-size: 25px;
  /* padding: 0px 12px;
  width: 70%;
  height: 300px; */
}

/*commmented out because of conflicts with bootstrap*/
.tab {
  /* float: left; */
  font-size: 18px;
  /* padding-left: 100px; */
  /* width: 30%; */
}

.addToCart {
  position: relative;
  font-size: 18px;
  text-align: center;
  border: 1px solid;
  background-color: var(--seafoamGreen);
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.addToCart:after {
  content: "";
  background: var(--buttonFlash);
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

.addToCart:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

.description {
  font-size: 16px;
}

.linkStyle {
  color: var(--black);
  text-decoration: none;
  text-shadow: 1px 1px 2px var(--seafoamGreen);
}

li {
  list-style: none;
}

.orderedItems {
  float: right;
}

.billCards {
  background-color: var(--paleWhite);
  box-shadow: -10px -15px var(--seafoamGreen);
}

.card-body {
  background-color: var(--paleWhite);
}


/*future development option to has allergy alerts pop up underneath each menu item*/
/* .has-nuts {
  font-family: 'Exo 2', sans-serif;
  font-weight: bolder;
  letter-spacing: 1px;
  line-height: 2px;
  font-size: 12px;
  color: rgb(199, 101, 76);
} */
