* {
  font-family: 'Lobster';
}

html {
  background-image: url(https://www.xmple.com/wallpaper/blue-stripes-lines-white-streaks-3200x1800-c2-7fffd4-f5fffa-l2-136-136-a-165-f-1.svg);
}

#submitBtn {
  background-color: rgb(96, 238, 207);
}

input {
  background-color: rgb(219, 243, 241);
}

header {
  margin-top: 5%;
}

.vertical-menu {
  width: 200px; 
  background-color: #46c496; 
  color: white;
  padding-left: 8px;
}

.vertical-menu a {
  background-color: #eee; 
  color: black; 
  display: block; 
  padding: 12px;
  text-decoration: none; 
}

.vertical-menu a:hover {
  background-color: rgb(155, 189, 179); 
  cursor: pointer;
}

.vertical-menu a.active {
  background-color: #46c496; 
  color: white;
}


.buttonStyle:hover {
  background-color:rgb(155, 189, 179);
}

.tabcontent {
  float: left;
  font-size: 25px;
  padding: 0px 12px;
  width: 70%;
  height: 300px;
}

.tab {
  float: left;
  font-size: 18px;
  padding-left: 100px;
  width: 30%;
}

.addToCart {
  font-size: 18px;
  background-color: #46c496; 
}

.description {
  font-size: 16px;
}

.linkStyle {
  color:black;
  text-decoration: none;
  text-shadow: 1px 1px 2px #46c496;
}




li {
  list-style: none;
}

/* .has-nuts {
  font-family: 'Exo 2', sans-serif;
  font-weight: bolder;
  letter-spacing: 1px;
  line-height: 2px;
  font-size: 12px;
  color: rgb(199, 101, 76);
} */